astroalign
astropy
astroquery
barycorrpy
colour_demosaicing
dynesty~=1.2.3;platform_system=='Windows'
holoviews
importlib-metadata>=3.6;python_version<='3.7'
imreg_dft
LDTk
lmfit
matplotlib
numpy
pandas
panel
photutils
pylightcurve
python_dateutil
python_version
pyvo
rebound
requests
scipy
scikit-image
statsmodels
tenacity
ultranest;platform_system!='Windows'
